<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    table, th, td {
       border: 1px solid black;
    }
</style>
</head>

<body>
    <h1 class="main">Concerts</h1>
    <div class="navbar">
      <nav>
          <a href="/">Home</a> |
          <a href="/preferences">Preferences</a> |
          <a href="/recommendations">Recommendations</a> |
          <a href="/concerts">Concerts</a> |
      </nav>
    Please navigate to the preferences page to start entering your preferences!
    </div>
    <div name="current_user">current_user: {{ session['USER_NAME'] }}</div>
    <div class="Rtable Rtable--3cols">
      <div style="order:1;" class="Rtable-cell">
        left
      </div>
      <div style="order:1;" class="Rtable-cell">
        middle
        {% if not empty %}
          Here is a list of the most favorited concerts.
          <div class="Rtable Rtable--3cols">
            <div style="order:1;" class="Rtable-cell">
              Concert Name
            </div>
            {% for concert in concerts %}
              <div style="order:{{loop.index + 1}};" class="Rtable-cell">
                {{concert['name']}}
              </div>
            {% endfor %}
            <div style="order:1;" class="Rtable-cell">
              Likes
            </div>
              {% for concert in concerts %}
                <div style="order:{{loop.index + 1}};" class="Rtable-cell">
                  {{concert['rating']}}
                </div>
              {% endfor %}
            <div style="order:1;" class="Rtable-cell">
              Url
            </div>
              {% for concert in concerts %}
              <div style="order:{{loop.index + 1}};" class="Rtable-cell">
                {{concert['url']}}
              </div>
              {% endfor %}
            </div>
        {% else %}
            You currently have no ratings. Please visit the preferences tab and rate some artists.
        {% endif %}
      </div>
      <div style="order:1;" class="Rtable-cell">
        right
      </div>
    </div>
</body>
</html>
